<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset$ ? 'dialog' : 'navigation'"
    [mode]="mode"
    [opened]="!isHandset$"
  >
    <mat-toolbar>{{ title }}</mat-toolbar>
    <mat-nav-list>
      @for (link of links; track link) {
      <ng-container>
        <a mat-list-item [routerLink]="link.url" routerLinkActive="active-link">
          {{ link.label }}
        </a>

        <!-- ✅ Use ?. to prevent errors if 'children' is undefined -->
        @if (link.children?.length) {
        <ng-container>
          <div class="sub-links">
            @for(subLink of link.children; track subLink) {
            <a
              mat-list-item
              [routerLink]="subLink.url"
              routerLinkActive="active-link"
            >
              {{ subLink.label }}
            </a>
            }
          </div>
        </ng-container>
        }
      </ng-container>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
    <!-- Allows injecting other content dynamically -->
  </mat-sidenav-content>
</mat-sidenav-container>
