<form [formGroup]="formGroup" class="mt-3">
  @for (input of inputs; track input) { @if (input.fieldType !== 'slide-toggle')
  {
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ input?.label }}</mat-label>

    <!-- Input Field -->
    @if (input.fieldType === 'input') {
    <ng-container>
      <input
        matInput
        [formControlName]="input.controlName"
        [type]="input.type || 'text'"
        [placeholder]="input.placeholder"
      />
    </ng-container>

    } @else if (input.fieldType === 'select') {
    <!-- Select Field -->
    <ng-container>
      <mat-select
        [formControlName]="input.controlName"
        [placeholder]="input.placeholder"
      >
        <mat-option *ngFor="let option of input.options" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </ng-container>
    }

    <!-- Validation Error -->
    <mat-error *ngIf="formGroup.get(input.controlName)?.invalid">
      {{ input.errorMessage }}
    </mat-error>
  </mat-form-field>
  } @else if (input.fieldType === 'slide-toggle') {
  <p>
    {{ input.label }}
  </p>

  <mat-slide-toggle
    [checked]="toggleValue"
    [formControlName]="input.controlName"
    (change)="onToggleChange($event.checked)"
    [labelPosition]="labelPosition || 'after'"
    [color]="color || 'primary'"
  >
    {{ formGroup.get(input.controlName)?.value ? "true" : "false" }}
  </mat-slide-toggle>

  <hr />
  }

  <!-- Hint -->
  <p
    class="fHint"
    *ngIf="input.hint"
    [style.margin-top]="
      input.fieldType === 'slide-toggle' ? '10px !important' : ''
    "
  >
    {{ input.hint }}
  </p>
  }
</form>
