<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Cluster Explorer</mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let link of links">
        <a
          mat-list-item
          [routerLink]="link.url"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ link.label }}
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- @if (isHandset$ | async) { -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- } -->
      <span>KafkaToolUI</span>
    </mat-toolbar>

    <!-- Fixed Subheader -->
    <div class="subheader mt-n">
      <mat-toolbar class="tb-h">
        <!-- Render buttons dynamically based on current route -->
        <ng-container *ngIf="buttonConfig[currentRoute]">
          <ng-container *ngFor="let button of buttonConfig[currentRoute]">
            <a
              mat-button
              [matTooltip]="button.tooltip"
              [routerLink]="button.routerLink"
              [disabled]="button.disabled"
              (click)="onButtonClick(button.label)"
              [ngStyle]="{
                color: !button.disabled
                  ? button.label === 'Verify'
                    ? 'green'
                    : button.label === 'Register Connection'
                    ? 'orange'
                    : ''
                  : ''
              }"
            >
              <mat-icon>{{ button.icon }}</mat-icon>
              {{ button.label }}
            </a>
          </ng-container>
        </ng-container>
      </mat-toolbar>
    </div>

    <div class="cm">
      <h2>
        {{ pageTitle }}
      </h2>
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
